.mitch-d3-tree {
	&.circle-tree {
		.node {
			circle {
				cursor: pointer;
				r: 0.4em;
			}

			text {
				transition: 0.3s linear;
			}

			&.childless text {
				transform: translate(13px, 0.35em);
				text-anchor: start;
			}

			&.collapsed text,
			&.expanded text {
				transform: translate(-13px, 0.35em);
				text-anchor: end;
			}

			&.middle.collapsed text,
			&.middle.expanded text {
				transform: translate(-13px, -8px)
			}
		}
	}
}